<div id="loggin_page">
<h4>Forgot Password</h4>
<% form_tag(forgot_password_session_path, :method => :post) do %>
  <div class="oneColForm">
    <ul>
      <li> Email:   </li>
      <li> <%= text_field 'user', 'email', :class => "text", :size => 35 %>   </li>
    </ul>
  </div>
  <div class="actions" >
    <%= submit_tag 'Submit'%>
  </div>
<% end %>
</div>