<%= flash[:notice]%> <br />
<h3>Forgot Password</h3>
<div class="backLink">
  <%=link_to "Login", '/login' %>
</div>
<% form_tag(forgot_password_session_path, :method => :post) do %>
  <div class="oneColForm">
    <ul>
      <li> Email:   </li>
      <li> <%= text_field 'user', 'email', :class => "text", :size => 35 %>   </li>
    </ul>
  </div>
  <div class="actions" >
    <%= submit_tag 'Submit'%>
  </div>
<% end %>
